{% extends 'base.html' %}


{% block title %} Home {% endblock %}


{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <b><a class="navbar-brand" href="{{url_for('index')}}">Home</a></b>
      <ul class="navbar-nav mr-auto">
         <li class="nav-item"> 
            <b><a class="nav-link" data-bs-toggle="modal" data-bs-target="#meeting_modal">Meeting Point</a></b>
         </li>&nbsp;&nbsp;
          
         {% if session.id == 1 %}
          <li class="nav-item">
             <b><a class="nav-link" href="{{ url_for('swap_book') }}">Admin Swap Page</a></b>
          </li>&nbsp;&nbsp;
          {% else %}
          <li class="nav-item">
             <b><a class="nav-link" href="{{ url_for('swap_page') }}">Swapped Books</a></b>
          </li>&nbsp;&nbsp;
          {% endif %}
          <li class="nav-item">
             <b><a class="nav-link" href="{{url_for('logout')}}">Logout</a></b>
         </li>
      </ul>
    </div>
  </nav>

</br>


<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
 
                
  
  <div class="container">
     <h4>All Books:</h4>

     </p>
 </div>

        <table class="table table-success table-striped table-hover" border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>Rating</th>
                    <th>Owner of the book</th>
                    <!-- <th>Current Owner</th> -->
                     <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
               {% for book in books %}
                  {% if book.userid != session.id %}
                   <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.summary}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.rating}}</td>
                        <td>{{book.user_name}}</td>
               
                        
                        <td>
               
                            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalview{{book.id}}">View</a>
                            <a href="/request_book/{{book.id}}" class="btn btn-danger" onclick="return confirm('Are you sure to request it?')">Request</a>

                        </td>
                    </tr>

                      
            </tbody>



<!-- View Book model -->
<div id="modalview{{book.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">{{book.title}}</h4>
          </div>
          <div class="modal-body" style="text-align: center;">
 
                <div class="form-group">
                   <!-- <label>Image:</label>  -->                  
                   <img src="{{ url_for('get_image', title=book.title) }}" style="width: 450px; height: 200px;"/>
                </div>
 
 
                 <div class="form-group">
                   <label>Author:</label> {{book.author}}
                </div>
 
                <div class="form-group">
                   <label>Summary:</label> {{book.summary}}
                   <!-- <textarea class="form-control" id="summary" name="summary" rows="4" cols="50"  required="1"></textarea> -->
                </div>
 
                  <div class="form-group">
                   <label>Category:</label> {{book.category}}
                   
                </div>
 
                <div class="form-group">
                   <label>Rating:</label> {{book.rating}}
                </div>
 
  
          </div>
 
 
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 
          </div>
 
       </div>

    </div>

 </div>


    {% endif %}
{% endfor %} 


      </table>
  </div>



 



<!-- Update Profile Modal -->
{% for user in users %}

  <div id="modaledit{{session.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Update Profile</h4>
          </div>
          <div class="modal-body">
 
             <form action="{{url_for('update_profile')}}" method="POST">
 
 
                <div class="form-group">
 
                   <label>Username:</label>
                  <input type="hidden"  name="id" value="{{user.id}}">
                   <input type="text" class="form-control" name="username" value="{{user.username}}" >
 
                </div>
 
 
                 <div class="form-group">
                   <label>Email:</label>
                   <input type="email" class="form-control" name="email" value="{{user.email}}">
                </div>

                <div class="form-group">
                   <label>City:</label>
                   <select class="form-control" id="city" name="city" class="form-control">
                      <option selected> {{user.city}}  </option>
                      <option value="santa clara">Santa Clara, CA</option>
                      <option value="sunnyvale">Sunnyvale, CA</option>
                      <option value="san jose">San Jose, CA</option>
                  </select>
                </div>
                  
 
                <div class="form-group">
                   <label>Participation</label>
                   <select class="form-control" id="participation" name="participation" value="{{user.participation}}">
                      <option selected>{{user.participation}}</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                  </select>
                   <!-- <input type="text" class="form-control" name="image_lisnk" value="{{user.participation}}"> -->
                </div>
 
                <div class="form-group">
                   <button class="btn btn-primary mt-4" type="submit">Update Profile</button>
                </div>
 
 
             </form>
 
 
          </div>
 
 
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 
          </div>
 
 
       </div>
 
 
    </div>
 
 
 </div>

{% endfor %}

<div id="meeting_modal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Meeting Point</h4>
         </div>
         <div class="modal-body ">
            <p>
               The book exchange will take place at a common meet point <b>every last saturday of the month.</b></br>
               Meeting point: <b><u>Santa Clara Convention Centre at 9am</u></b>
            </p>
 
         </div>
 
 
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 
         </div>
 
      </div>
   </div>
 
 </div> 






{% endblock %}
