{% extends 'base.html' %}
{% block body %}

        <!-- Link allow you to use python with HTML -->
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- <style>
    .container {
        background-color: black;
        color: white;
    }

</style> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <b><a class="navbar-brand" href="{{url_for('index')}}">Home</a></b>
      <ul class="navbar-nav mr-auto">
 

 
          <li class="nav-item">
             <b><a class="nav-link" href="{{url_for('logout')}}">Logout</a></b>
         </li>
      </ul>
    </div>
  </nav>

  <div id="meeting_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Meeting Point</h4>
          </div>
          <div class="modal-body ">
             <p>
                The book exchange will take place at a common meet point <b>every last saturday of the month.</b></br>
                Meeting point: <b><u>Santa Clara Convention Centre at 9am</u></b>
             </p>
  
          </div>
  
  
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
          </div>
  
       </div>
    </div>
  
  </div> 


    <!-- Header -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-xs-9">
                    <h1>The Reading Circle</h1>
                    <p>Experience the joy of reading with The Reading Circle - where every book is a new adventure!</p>
                </div>
            </div>
        </div>
    </div>
  </br>
  

    <div class="w3-row-padding w3-content" style="max-width:1400px; display: flex; justify-content: center;">
      <div class="w3-twothird">
        <!-- Timer bar -->
          <div class="w3-row-padding w3-content w3-card-4" style="max-width:1400px">
            <div class="w3-container w3-animate-zoom w3-left-align">
              <!-- <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3>Time remaining: <span id="timer"></span></h3>
                <button class="btn btn-primary" id="enableButton" disabled>Enable after 30 days</button>
              </div> -->
            </div>
          </div>
        <table class=" table w3-table w3-striped w3-border w3-hoverable w3-card-4">
          <thead>
              <tr class="w3-light-grey w3-large">
                  <!-- <th>ID</th> -->

                  <th>Title</th>
                  <th>Main Owner</th>
                  <th>New Owner</th>

              </tr>
          </thead>
          <tbody>
            {% for swap in swaps %}

                <tr>
                    <td>{{swap.title}}</td>
                    <td>{{swap.main_owner}}</td>
                    <td>{{swap.new_owner}}</td>


                </tr>
                </tbody>
            {% endfor %}
        </table>
        
      </div>

    



      </div>  
<!-- Meeting point -->


<style>
  .jumbotron-sm {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.jumbotron-sm h1 {
  font-size: 24px;
}

.jumbotron-sm p {
  font-size: 14px;
}
</style>

{% endblock %}